.footer_area {
    margin-top: 100px;
    background: #000410;
}
.f_title {
    margin-bottom: 35px;
}
.p_121 {
    padding-top: 120px;
    padding-bottom: 120px;
}
.f_title h3 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: "Heebo", sans-serif;
    margin-bottom: 0px;
}
.ab_widget p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    color: #777777;
    margin-bottom: 30px;
}