.main_title h2 {
    font-family: "Heebo", sans-serif;
    font-size: 36px;
    color: #222222;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.work_item h4 {
    color: #222222;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.main_title {
    text-align: center;
    margin-bottom: 75px;
}
.p_120 {
    padding-top: 120px;
}
.work_area{
    margin-top: 100px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 100px;
}
.right-list h4 {
    margin-top: 60px;
    font-size: 18px;
}
h5 {
    font-size: 16px;
    margin-bottom: 30px;
}

video {
    width: 340px;
}

img {
    width: 340px;
}

@media (max-width: 600px) {        
    video {
        width: 250px;
    }
    img {
        width: 320px;
    }
    .mt-xs-5{
        margin-top: 30px;
    }
 }

 @media (max-width: 768px) {        
    video {
        width: 100%;
    }
    img {
        width: 320px;
    }
    .mt-xs-5{
        margin-top: 30px;
    }
 }